<h1> <%= @topic.title %> </h1>
  
  <%= link_to "Edit", edit_topic_path(@topic), class: "btn btn-warning" %>
  <%= link_to "Delete", @topic, method: :delete, class: "btn btn-danger" %>
  <br></br>
    <% @topic.bookmarks.each do |bookmark| %>
      <div class="media-heading">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to bookmark.url, topic_bookmark_path(@topic, bookmark) %>
          </h4>
        </div>
      </div>  
    <% end %>
</ul>

<h3>New Bookmark URL</h3>
<%= render partial: "bookmarks/form", locals: { topic: @topic, bookmark: @bookmark } %>


